{% extends "base.html" %}
{% block title %}Banner - Dymm CMS{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href=
            "{{ url_for('static', filename='css/banner.css') }}">
    <script src="{{ url_for('static', filename='js/banner.js') }}"></script>
{% endblock %}
{% block content %}
    <section class="wrap-box">
        <div class="box" id="bx-banner-list">
            {% include 'banner/bx_banner_list.html' %}
        </div>
        <div class="box" id="bx-banner-detail">
            {% include 'banner/bx_banner_detail.html' %}
        </div>
    </section>
{% endblock %}