<div class="delegate-item">iOS Assets</div>
<div class="picked-item">
    <br/>
    {% from "helpers/simple_form_macro.html" import render_field %}
    {{ render_field(dirform.dir_select) }}
    <div>Total &nbsp;{{ imgs_cnt }}</div>
    {% if dirname == 'archive' %}
    {% else %}
        <div class="bt zip-png">Archive.png</div>
        <div class="bt zip-svg">Archive.svg</div>
        <div class="bt zip-pdf">Archive.pdf</div>
        {% if dirname == 'item' %}
            <div class="bt gen-swift">Gen.swift</div>
        {% endif %}
        {% if dirname == 'item@2x' or dirname == 'tag@2x' or dirname == 'photo@2x' %}
            <div class="gray-bt empty-dir">Empty.dir</div>
            {{ render_field(dirform.delete_key) }}
        {% endif %}
        <form class="file-form" method=post enctype=multipart/form-data>
            <br/>
            <input class="choose-imgs" type=file name=files multiple>
            <button class="up-imgs" type=button>Submit</button>
        </form>
    {% endif %}
</div>
<div class="message-fail"></div>
<div class="message-success"></div>
<br/>
<section class="img-tb">
    <header>
        <div></div>
        <div></div>
    </header>
    {% include 'asset/cp_asset_tb.html' %}
</section>
