div#admin-div {
    text-align: center;
    display: block;
    overflow: scroll;
    margin-top: 10%;
    font-family: 'Nanum Gothic', sans-serif;
}
form#admin-form {
    display: inline-block;
    vertical-align: middle;
}

img.loading {
    max-width: 120px;
    max-height: 120px;
    -webkit-animation: rotation 3s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}