<div class="delegate-item">Tag - List</div>
<div class="picked-item">
    <select class="select-option">
        <option value="limit" selected>{{ tags_cnt }} tags</option>
        <option value="all">All tags</option>
    </select>
    &nbsp;&nbsp;
    <div class="bt bt-export"><a href="/api/tag/export/limit" download>Export.xlsx</a></div>
</div>
<div class="up-file">
    <select class="select-upload">
        <option value="gen-tag" selected>Gen tag</option>
        <option value="mod-tag">Mod tag</option>
        <option value="gen-set-low">Gen set==tag_low</option>
        <option value="mod-set-id">Mod set==set_id</option>
        <option value="gen-set-eng">Gen set==name</option>
        <option value="mod-set-eng">Mod set==name</option>
    </select>
    &nbsp;&nbsp;
    <form class="file-form" method=post enctype=multipart/form-data action="/api/tag/import/gen-tag">
        <input class="up-csv" type=file name=csv>
        <button class="btn-submit" type="button">Submit</button>
    </form>
</div>
<div class="msg message-fail"></div>
<div class="msg message-success"></div>
<section class="tb">
    <header>
        <div>ID</div>
        <div>TagType</div>
        <div>IsActive</div>
        <div>HasSet</div>
        <div>EngName</div>
        <div>KorName</div>
        <div>JpnName</div>
        <div>Division</div>
        <div class="bt bt-reset">Reset</div>
    </header>
    {% include 'tag/cp_tag_tb.html' %}
</section>
