<!doctype html>
<html>
<head>
    {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js.cookie.min.js') }}"></script>
        <script src="{{ url_for('static', filename='moment.min.js') }}"></script>
        <script src="{{ url_for('static', filename='moment-timezone-with-data.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery.countdown.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery.form.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/base.js') }}"></script>
        <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% include 'nav_bar.html' %}
<img class="loading" src="{{ url_for('static', filename='img/loading.png') }}" style="display: none;">
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
        <p id="txt-footer">
            &copy; Copyright 2019 by <a href="https://github.com/9oya">eido9oya</a>.
        </p>
    {% endblock %}
</div>
</body>
</html>